# Environment
.env

# Database
*.db
*.db-shm
*.db-wal

# Python
__pycache__/
*.py[cod]
*.pyc

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
*.log
*.txt
!requirements.txt
!README.txt

# Test outputs
dump.json
